@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html, body {
    /* overflow-x: hidden; */
    max-width: 100%;
    scroll-behavior: smooth;
}
*{
    scroll-behavior: smooth;
}

.scroll-stop {
    overflow: hidden;
}

.body-wrapper {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.header {
    background-image: url('../images/header-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: "Poppins", sans-serif;
    padding-top: 15px;
    padding-bottom: 259px;
}

.none {
    display: none;
}

.container {
    max-width: 1220px;
    padding: 0 20px;
    margin: 0 auto;
    overflow: hidden;
}

.container-right {
    overflow-x: hidden;
    position: relative;
    padding-left: calc((100% - 1220px) / 2 + 20px);
}

.overflow-container {
    max-width: 1960px;
    margin: 0 auto;
}

.nav {
    display: flex;
    align-items: center;
    position: relative;
}

.nav-list {
    display: flex;
    gap: 34px;
}

.nav-link {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;


    position: relative;
    display: inline-block;
}

.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -17px; 
    width: 100%;
    height: 2px; 
    background-color: #fff; 
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.nav-link:hover::after {
    transform: scaleX(1); 
}

.logo {
    margin-right: 55px;
}

.search-wrap {
    display: flex;
    gap: 32px;
    margin-top: 5px;
    position: absolute;
    right: 0;
}

hr {
    border: none;
    border-top: 1px solid #B6B6B6;
    margin-top: 14px;
}

.header-heading {
    font-family: Montserrat;
    font-size: 80px;
    font-weight: 600;
    line-height: 98px;
    color: #fff;
    margin-top: 277px;
}

.header-info {
    font-family: Merriweather Sans;
    font-size: 18px;
    font-weight: 300;
    line-height: 23px;
    color: #fff;
    margin-top: 37px;
}

.about-us-section {
    margin-top: 102px;
}

.about-us-section-wrap {
    display: flex;
    justify-content: space-between;
}

.about-us-heading {
    font-family: Montserrat;
    font-size: 35px;
    font-weight: 600;
    line-height: 43px;
    margin-top: 87px;
    margin-bottom: 49px;
}

.about-us-p {
    font-family: Poppins;
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
    color: #373737;
    margin-bottom: 24px;
}

.about-us-p::after {
    margin-bottom: 49px;
}

.btn {
    display: inline-block;
    font-family: Poppins;
    font-size: 17px;
    font-weight: 500;
    line-height: 26px;
    color: #fff;

    padding: 12px 47px;
    background-color: #9F7464;
    border-radius: 10px;
    margin-top: 25px;
    transition: background-color .2s ease;
}

.btn:hover {
    background-color: #c28f7d;
}

.lets-see-wrap {
    margin-top: 102px;
}

.lets-see-heading {
    font-family: Montserrat;
    font-size: 35px;
    font-weight: 600;
    line-height: 43px;
    margin-bottom: 68px;
}

.explore-btn {
    padding: 12px 62px;
}

.lets-see-p-wrap {
    display: flex;
    flex-direction: column;
    margin-top: 126px;
}

.lets-see-p {
    font-family: Poppins;
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
    color: #373737;
}

.slider-wrap {
    display: flex;
    gap: 38px;
    margin-top: 100px;
    overflow: hidden;
}


.slider-card {
    width: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    border: 2px solid rgba(209, 209, 209, 0.75);
    border-radius: 17px 17px 15px 15px;
    border-top: none;
}

.slider-wrap:last-child {
    margin-right: -30%;
}

.card-img {
    width: 300px;
    max-height: 365px;
}

.card-name {
    font-family: Poppins;
    font-size: 23px;
    font-weight: 500;
    line-height: 35px;
    margin-top: 14px;
    margin-left: 28px;
}

.card-price {
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    line-height: 23px;
}

.price-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 28px;
    margin-top: 32px;
    margin-bottom: 9px;
}

.per-person-span {
    font-family: Poppins;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    color: rgba(114, 114, 114, 1);    
}

.book-now-btn {
    font-family: Poppins;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    color: rgba(4, 144, 221, 1);
    margin-right: 18px;
}

.book-now-btn:hover {
    text-decoration: underline;
}

.rating-wrap {
    position: absolute;
    top: 16px;
    right: 10px;
    display: inline-flex;
    max-width: 70px;
    padding: 6px 14px 6px 10.8px;
    background-color: white;
    border-radius: 18px;
}

.card-img-last {
    width: 300px;
    height: 365px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.what-you-get-wrap {
    display: flex;
    justify-content: space-between;
}

.what-you-get-section {
    margin-top: 102px;
}

.what-you-get-heading {
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
}

.expert-travel-wrap-wrap {
    display: flex;
    flex-direction: column;
    gap: 39px;
    margin-top: 96px;
}

.expert-travel-index-wrap {
    display: flex;
    align-items: center;
    width: 71px;
    height: 30px;
    /* padding: 6px 0; */
    border-radius: 15px;
    background-color: rgba(159, 116, 100, 1);
}

.expert-travel-index {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    padding: 6px;
    border-radius: 50px;
    background-color: #fff;

    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    margin-left: 3px;
}

.expert-travel-title {
    font-family: Montserrat;
    font-size: 23px;
    font-weight: 600;
    line-height: 28px;
    margin-top: 7px;
}

.expert-travel-info {
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    color: rgba(55, 55, 55, 1);
    margin-top: 13px;
}

.what-you-get-img-wrap {
    margin-top: 75px;
    text-align: right;
    position: relative;
}

.what-you-get-img-2 {
    position: absolute;
    bottom: -20px;
    left: -230px;
    border-radius: 20px;
}

.explore-one-heading {
    font-family: Montserrat;
    font-size: 35px;
    font-weight: 600;
    line-height: 43px;
    margin-top: 131px;
}

.explore-one-info {
    font-family: Poppins;
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
    color:rgba(55, 55, 55, 1);
    margin-top: 44px;
}

.open-gallery-btn {
    padding: 12px 33px;
    margin-top: 44px;
}

.pictures-swiper-wrap {
    display: flex;
    justify-content: center;
    gap: 6px;
    margin-top: 80px;
    align-items: center;
}

.pictures-swiper-img {
    width: 387px;
    height: 485px;
}

.pictures-swiper-img:hover {
    transform: scale(1.1);
}

.pictures-swiper-img-center {
    width: 388px;
    height: 530px;
}

.our-blog-wrap-wrap {
    margin-top: 102px;
    display: flex;
    justify-content: space-between;
}

.read-more-btn {
    padding: 12px 44px;
}

.our-blog-title {
    font-family: Montserrat;
    font-size: 35px;
    font-weight: 600;
    line-height: 42.67px;
    margin-bottom: 5px;
}

.our-blog-info  {
    font-family: Poppins;
    font-size: 17px;
    font-weight: 400;
    line-height: 25.5px;
    color: rgba(55, 55, 55, 1);
    margin-top: 21px;
}

.our-blog-cards-wrap {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 85px;
}

.our-blog-card {
    display: flex;
    flex-direction: column;
    border: 2px solid rgba(209, 209, 209, 0.75);
    border-radius: 15px;
}

.our-blog-card-img {
    width: 380px;
    height: 410px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.our-blog-card-name {
    font-family: Poppins;
    font-size: 21px;
    font-weight: 500;
    line-height: 31.5px;
    margin-top: 11px;
    margin-left: 16px;
}

.our-blog-read-more-btn {
    font-family: Poppins;
    font-size: 13px;
    font-weight: 500;
    line-height: 19.5px;
    color: rgba(114, 114, 114, 1);
    margin-right: 16px;
}

.our-blog-card-btn-wrap {
    margin-top: 35px;
    margin-bottom: 9px;
}

.our-blog-read-more-btn:hover {
    text-decoration: underline;
}

.our-prof-title {
    font-family: Montserrat;
    font-size: 35px;
    font-weight: 600;
    line-height: 42.67px;
    margin-top: 103px;
}

.our-prof-info {
    font-family: Poppins;
    font-size: 17px;
    font-weight: 400;
    line-height: 25.5px;
    margin-top: 35px;
}

.sara-img-card-wrap {
    display: flex;
}

.sara-info-block {
    width: 270px;
    height: 384px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgba(159, 116, 100, 1);
    color: white;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;  
}

.info-wrap {
    padding-left: 15px;
}

.name-block {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    line-height: 24.38px;
    margin-top: 19px;
}

.languages-block {
    margin-top: 15px;
}

.experience-block {
    margin-top: 7px;
}

.info-block {
    margin-top: 21px;
}

.out-prof-card {
    position: relative;
    display: flex;
    justify-content: center;
}

.our-prof-info-swiper {
    display: flex;
    gap: 33px;
    margin-top: 73px;
}

.out-prof-card-name {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    line-height: 24.38px;
    color: white;

    position: absolute;
    bottom: 12px;
}

.out-prof-card-img-last {
    width: 323px;
    height: 384px;
    border-radius: 10px;
}

.our-prof-info-swiper:last-child {
    margin-right: -30%;
}

.hr-lines-wrap {
    display: flex;
    gap: 22px;
    justify-content: center;
    margin-top: 35px;
}

.line {
    position: relative;
    width: 88.88px;
    height: 3px;
    background-color: rgba(217, 217, 217, 1);
    border-radius: 5px;
}

.brown-line {
    background-color: rgba(159, 116, 100, 1);
}

.form-container {
    display: flex;
    margin-top: 102px;
    gap: 58px;
}

.form-title {
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 600;
    line-height: 30.48px;
    margin-top: 50px;
    margin-bottom: 39px;

    text-transform: capitalize;
}

.form-input {
    width: 361px;
    padding: 12px 13px;

    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 22.5px;
    
    border: 1px solid rgba(228, 228, 228, 1);
    border-radius: 10px;
    margin-bottom: 23px;
}

.form-input::placeholder {
    color: rgba(183, 183, 183, 1);
}
/* 
.form-btn-wrap {
    display: inline-flex;
    gap: 22px;
    align-items: center;

} */

.form-btn-wrap {
    display: flex;
    /* gap: 22px; */
    align-items: center;
    justify-content: space-between;
}

    

.send-btn {
    padding: 10px 68px;
    margin-top: 0;
}

#date {
    display: flex;
    align-items: center;
    padding: 11px 30px;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    color: rgba(183, 183, 183, 1);
    min-width: 158px;
    border: 1px solid rgba(228, 228, 228, 1);
    border-radius: 10px;
    position: relative;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: url('../images/calendar-img.svg') no-repeat; 
    cursor: pointer; 
    width: 18px;
    height: 17px;
    position: absolute;
    right: 12px;
}

footer {
    margin-top: 103px;
    padding-top: 50px;
    padding-bottom: 7px;
    background-color: rgba(159, 116, 100, 1);
    color: white;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-logo-wrap {
    display: flex;
    align-items: center;
}

.footer-logo-text {
    font-family: Montserrat;
    font-size: 17px;
    font-weight: 600;
    line-height: 20.72px;
    margin-left: 2px;
}

.footer-info-p {
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 22.5px;
    margin-top: 30px;
}

.follow-us-wrap {
    display: flex;
    margin-top: 46px;
}

.follow-us {
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    line-height: 18.29px;
}

.social-icons {
    display: flex;
    align-items: center;
    gap: 17px;
    margin-left: 14px;
}

.company-title {
    font-family: Montserrat;
    font-size: 17px;
    font-weight: 600;
    line-height: 20.72px;
    margin-bottom: 21px;
}

.company-link {
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 22.5px;
    color: white;
}

.company-link:hover {
    text-decoration: underline;
}

.company-link-el {
    margin-bottom: 8px;
}

.communication-link-wrap {
    display: flex;
    margin-bottom: 16px;
}

.communication-title {
    font-family: Montserrat;
    font-size: 17px;
    font-weight: 600;
    line-height: 20.72px;
    margin-bottom: 10px;
}

.communication-link {
    display: inline-flex;
    align-items: center;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
}

.address-wrap {
    margin-left: 9px;
}

.address-title {
    font-family: Poppins;
    font-size: 13px;
    font-weight: 400;
    line-height: 19.5px;
    color: rgba(224, 224, 224, 1);
}

.address-link {
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    line-height: 22.5px;
}

.address-link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.location {
    padding: 8.5px;
}

.phone {
    padding: 11px;
}

.footer-hr-line {
    border-bottom: 1px solid rgba(208, 208, 208, 1); 
    margin-top: 51px;
}

.footer-info {
    text-align: center;
    font-family: Poppins;
    font-size: 13px;
    font-weight: 400;
    line-height: 19.5px;
    margin-top: 7px;
}

/* .fa-bars {
    display: none;
    cursor: pointer;
    font-size: 27px;
    color: white;
} */

.hamburger-btn {
    display: none;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.mobile-nav-list-wrapp {
    width: 300px;
    height: 100vh;
    padding: 20px;
    background-color: #9F7464;
    position: absolute;
    right: -300px;
    top: 0;
    transition: right .4s ease-in;
    z-index: 2;
}

.mobile-nav-list-wrapp.open {
    transition: right .4s ease-in;
    right: 0;
}

.mobile-nav-el {
    margin-bottom: 50px;
}

.xmark-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}